.colorized {
    background-color: #bbf4f4;
    /* Replace with your hex color */
    height: calc(100vh - 62px);
    /* Make sure it covers the full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#landing-page-photo {
    width: 50%;
    border-radius: 50%;
}

.first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.overlay {
    display: flex;
    flex-direction: column;
}

#text-1 {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
    word-break: break-word;
    font-size: 3.5em;
    margin-right: 20px;
}

#text-2 {
    font-family: "Open Sans", sans-serif;
    font-size: 2.25em;
    margin-right: 20px;
}

#text-3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    margin-left: 20px;
}

.whatsapp-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #1ebe5d;
}


@media screen and (max-width: 990px) {
    img {
        width: 70%;
    }

    .first-section {
        flex-direction: column;
    }

    #text-1 {
        font-size: 2em;
    }

    #text-2 {
        font-size: 1.5em;
    }

    #text-3 {
        font-size: 1.5em;
    }

}