.colorized {
    background-color: #bbf4f4;
    /* Replace with your hex color */
    height: calc(100vh - 62px);
    /* Make sure it covers the full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.section-spacing {
    margin: 60px 0;
    /* space above and below */
}

html {
    scroll-behavior: smooth;
}

#landing-page-photo {
    width: 50%;
    border-radius: 50%;
}

.first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.overlay {
    display: flex;
    flex-direction: column;
}

#text-1 {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
    word-break: break-word;
    font-size: 3.5em;
    margin-right: 20px;
}

#text-2 {
    font-family: "Open Sans", sans-serif;
    font-size: 2.25em;
    margin-right: 20px;
}

#text-3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    margin-left: 20px;
    /* TODO colocar no fundo da primeira secção
    como dois elementos lado a lado */
}

@keyframes blink {

    0%,
    90%,
    100% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }
}

@keyframes double-blink {

    0%,
    10%,
    20%,
    100% {
        opacity: 1;
    }

    5%,
    15% {
        opacity: 0;
    }
}

#whatsapp-link {
    background-color: #25D366;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 2s ease;
    text-decoration: none;
    animation: double-blink 5s infinite;
}

#whatsapp-link:hover {
    background-color: #1ebe57;
    color: white;
    animation: none;
    /* stops animation on hover */
}


@media screen and (max-width: 990px) {
    .colorized {
        background-color: #bbf4f4;
        /* Replace with your hex color */
        height: calc(100vh - 62px);
        /* Make sure it covers the full viewport height */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 20px;
    }

    img {
        width: 95% !important;
        height: auto !important;
    }

    .first-section {
        flex-direction: column;
    }

    #text-1 {
        font-size: 2em;
    }

    #text-2 {
        font-size: 1.5em;
    }

    #text-3 {
        font-size: 1.5em;
    }

}