.colorized {
    background-color: #bbf4f4; /* Replace with your hex color */
    min-height: 100vh; /* Make sure it covers the full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

img{
    width: 50%;
}

.first-section{
    display: flex;
    flex-direction: row;
}
