.navbar .navbar-brand {
    font-size: 1.5rem !important;
}

.navbar .nav-link {
    font-size: 1.25rem !important;
}

.m-auto {
    align-items: center;
}

#whatsapp-link {
    background-color: #25D366;
    /* WhatsApp green */
    color: white;
    padding: 8px 8px;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#whatsapp-link:hover {
    background-color: #1ebe57;
    color: white;
}